.button {
  background-color: $primary;
  border: 0;
  color: $background;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  margin-right: 1rem;
  padding: $s-size;
  text-decoration: none;

  &--wide {
    padding: 1rem 3rem;
  }

  &--secondary {
    background: $dull;
  }

  &--tertiary {
    background: $secondary;
  }

  &--google,
  &--danger {
    background: $warning;
  }

  &--github {
    background: $dark;
  }
  &--link {
    background: none;
  }
}
