.header {
  background: $base;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
  }

  &__title {
    color: $background;
    text-decoration: none;

    h1 {
      margin: 0;
    }
  }
}
